<html>
    <head>
        <style>
        tr,td
        {
            padding:20px;
            
        }
        </style>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <h1>Edit ORDER</h1>
        <form action="{% url 'update-data' %}" method="POST">
            {% csrf_token %} 
            <table id="mytb">
                <tr>
                    <td>Customer</td>

                    <p id="resultid"></p>
                    <td>
                        <input type="text" name="orderid" value="{{context.oid.id}}"/>
                        <select name="customers" id="customers" required>
                            <option value="select customer" disabled selected>{{context.cid.first_name}}</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>Product</td>                    
                    <td>
                        <select name="product" id="myselect" required>
                            <option value="select product" disabled selected>{{context.pid.name}}</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>Price </td>

                    <td id="tbprice"><input type="text" id="price" value="{{context.oid.unit_price}}" readonly/></td>
                </tr>
                <tr>
                    <td>Qty</td>                    
                    <td><input type="number" id="qtyvalue" name="qty"  value="{{context.oid.qty}}" placeholder="Enter qty " required/></td>
                </tr>
                <tr>
                    <td>Total Price</td>                    
                    <td id="tbtotal"><label>{{context.oid.total_price}}</label></td>
                </tr>
                
                <tr>
                    <td><input type="submit" id="btnsave" name="submit" value="Edit Order"/></td>
                    <td><input type="reset" value="Cancel"/></td>
                </tr>
            </table>
         </form>
    </body>
    {% include 'myapp/ajaxfile.html' %}
</html>